<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.dynamic.mapper.yiyuan.opd.OpdStatisticsMapper">

	<!-- 门诊人次数 -->
	<select id="outpatientNum" resultType="long">
		select count(1) from MedicalRecord
        where OP_EM_MARK = '1' and SEE_DOC_DT &gt;= #{startTime}+0 and SEE_DOC_DT &lt; #{endTime}+0 
	</select>
	
	<!-- 一二三中门诊人次数 -->
	<select id="outpatientNumFour" resultType="long">
		select count(1) from MedicalRecord_bf
        where OP_EM_MARK = '1' and SEE_DOC_DT &gt;= #{startTime}+0 and SEE_DOC_DT &lt; #{endTime}+0 
	</select>

	<!-- 急诊人次数 -->
	<select id="emergencyNum" resultType="long">
		select count(1) from MedicalRecord
        where OP_EM_MARK = '2' and SEE_DOC_DT &gt;= #{startTime}+0 and SEE_DOC_DT &lt; #{endTime}+0  
	</select>
	
	<!-- 一二三中急诊人次数 -->
	<select id="emergencyNumFour" resultType="long">
		select count(1) from MedicalRecord_bf
        where OP_EM_MARK = '2' and SEE_DOC_DT &gt;= #{startTime}+0 and SEE_DOC_DT &lt; #{endTime}+0  
	</select>

	<!-- 门急诊人次数 -->
	<select id="OPDTotal" resultType="long">
		select count(1) from MedicalRecord 
		where SEE_DOC_DT &gt;= #{startTime}+0 and SEE_DOC_DT &lt; #{endTime}+0 
	</select>
	
	<!-- 一二三中门急诊人次数 -->
	<select id="OPDTotalFour" resultType="long">
		select count(1) from MedicalRecord_bf
		where SEE_DOC_DT &gt;= #{startTime}+0 and SEE_DOC_DT &lt; #{endTime}+0 
	</select>
	
	<!-- 门急诊使用药品数 -->
	<select id="OPDDrugxyTotal" resultType="long">
		select count(1) from WM_PrescriptionDetails where (OP_EM_HP_MARK ='1' OR OP_EM_HP_MARK='2') and 
		RX_DT &gt;= #{startTime}+0 and RX_DT &lt; #{endTime}+0 
	</select>
	<select id="OPDDrugzyTotal" resultType="long">
		select count(1) from CM_PrescriptionDetails where (OP_EM_HP_MARK ='1' OR OP_EM_HP_MARK='2') and
		RX_DT &gt;= #{startTime}+0 and RX_DT &lt; #{endTime}+0  
	</select>
	
	<!-- 门急诊药品总费用(元) -->
	<select id="OPDMoneyTotal" resultType="long">
		select coalesce(sum(PROJ_MON),0) from CostDetails where OP_EM_HP_MARK in ('1','2') and CHARGE_REFUND = '1'
        and FIN_CAT_CODE in ('1000','1001','1002','1003')
        and RCD_DT &gt;= #{startTime}+0 and RCD_DT &lt; #{endTime}+0 
	</select>
	
	<!-- 住院人次 -->
	<select id="HospitalizationNumber" resultType="long">
	    select count(1) from FirstPageMedicalRecord 
	    where OUT_HP_DT &gt;= #{startTime}+0 
	    and OUT_HP_DT &lt; #{endTime}+0 
	</select>
	
	<select id="HospitalizationNumber2" resultType="long">
	    select count(1) from ED_CMEDICAL_HOME_PAGE_RECORD 
	    where OUT_HP_DT &gt;= #{startTime}+0 
	    and OUT_HP_DT &lt; #{endTime}+0 
	</select>
	
	<!-- 出院人次 -->
	<select id="outHospitalNumber" resultType="long">
	select  count(1) from OutHospitalRecord where  out_hp_dt &gt;= #{startTime}+0 and out_hp_dt &lt; #{endTime}+0
	</select>
	
	<!-- 住院患者使用药品数 -->
	<select id="HospitalizationDrugTotal" resultType="long">
		select count(1) from DoctorAdviceRecord 
		where IF_DRUG ='1' and ODRISU_DT &gt;= #{startTime}+0 and ODRISU_DT &lt; #{endTime}+0 
	</select>
	
	<!-- 住院药品总费用(元) -->
	<select id="HospitalizationMoneyTotal" resultType="long">
		select coalesce(sum(PROJ_MON),0) from CostDetails where OP_EM_HP_MARK ='3' and CHARGE_REFUND = '1'
         and FIN_CAT_CODE in ('1000','1001','1002','1003')
         and RCD_DT &gt;= #{startTime}+0 and RCD_DT &lt; #{endTime}+0 
	</select>

	<!-- 实际开放床日数 -->
	<select id="publicBedDayTotal" resultType="long">
		select coalesce(sum(p_o_bed),0)
		from in_workload
		where rcd_dt <![CDATA[>= ]]> #{startTime}+0
		and rcd_dt <![CDATA[< ]]> #{endTime}+0
	</select>

	<!-- 实际占用床日数 -->
	<select id="useBedDayTotal" resultType="long">
		select coalesce(sum(p_oc_bed),0)
		from in_workload
		where rcd_dt <![CDATA[>= ]]> #{startTime}+0
		and rcd_dt <![CDATA[< ]]> #{endTime}+0
	</select>
	
	<!-- 支付方式-医保  -->
	<select id="paymentMethodMedical" resultType="long">
		select count(1) from PersonalInformation where PAYMENT_MODE in('01','02','03') 
		and update_date &gt;= #{startTime}+0 and update_date &lt; #{endTime}+0 
	</select>
	
	<!-- 支付方式-自费  -->
	<select id="paymentMethodOwn" resultType="long">
		select count(1) from PersonalInformation where PAYMENT_MODE in('04','05','06','07','08','99') 
		and update_date &gt;= #{startTime}+0 and update_date &lt; #{endTime}+0 
	</select>
	
	<!-- 药品收入 -->
	<select id="drugIncome" resultType="long">
	 select coalesce(sum(PROJ_MON),0) from CostDetails where  CHARGE_REFUND = '1'
     and FIN_CAT_CODE in ('1001','1002','1003')
     and RCD_DT &gt;= #{startTime}+0 and RCD_DT &lt; #{endTime}+0
	</select>
	
	<!-- 其他收入 -->
	<select id="otherIncome" resultType="long">
	 select coalesce(sum(PROJ_MON),0) from CostDetails where  CHARGE_REFUND = '1'
     and FIN_CAT_CODE = '9900'
     and RCD_DT &gt;= #{startTime}+0 and RCD_DT &lt; #{endTime}+0 
	</select>
	
	<!-- 医疗收入 -->
	<select id="medicalIncome" resultType="long">
	  select coalesce(sum(PROJ_MON),0) from CostDetails where  CHARGE_REFUND = '1'
      and FIN_CAT_CODE in ('0100','0200','0300','0400','0500','0600','0700','0800','0900')
      and RCD_DT &gt;= #{startTime}+0 and RCD_DT &lt; #{endTime}+0 
	</select>
	
	<!-- 患者列表（查询当前时间前2天的数据） -->
	<!-- <select id="patientList" resultType="">
	 select m.organ_code,m.organ_name,m.Dpt_Code,m.dpt_name,m.name,m.sex,m.See_Doc_Dt,m.Md_Dis_Code,m.md_dis_name from MedicalRecord m 
     where m.see_doc_dt >=trunc(sysdate-2) and  m.see_doc_dt < trunc(sysdate-1)
	</select> -->
	
	
	<!-- 预约挂号数量 -->
	<select id="getAppointmentNum" resultType="long">
		select count(1) from RegisterRecord 
		where APP_MARK='1' and REC_DT &gt;= #{startTime}+0 and REC_DT &lt; #{endTime}+0 
	</select>
	<!-- 总诊疗人次数 -->
	<select id="getTreatmentNum" resultType="long">
		select count(1) from RegisterRecord 
		where REC_DT &gt;= #{startTime}+0 and REC_DT &lt; #{endTime}+0 
	</select>
	
	<!-- 检查人次数 -->
	<select id="getCheckNum" resultType="long">
		select count(1) from ExaminationDetails 
		where CHK_DT &gt;= #{startTime}+0 and CHK_DT &lt; #{endTime}+0 
	</select>
	<!-- 检验人次数 -->
	<select id="getTestNum" resultType="long">
		select count(1) from LAR_EXAM_INFO 
		where TEST_DT &gt;= #{startTime}+0 and TEST_DT &lt; #{endTime}+0 
	</select>
	<!-- 住院人数 -->
	<select id="getTotalPeople" resultType="long">
	select count(1) from OutHospitalRecord 
	where OUT_HP_DT &gt;= #{startTime}+0 and OUT_HP_DT &lt; #{endTime}+0 
	</select>
	<!-- 住院天数 -->
	<select id="getTotaldays" resultType="long">
		select nvl(sum(t.days),0) from 
		(select nvl(sum(ceil(OUT_HP_DT - IN_HP_DT)),0) as days from OutHospitalRecord
		where OUT_HP_DT&gt;= #{startTime}+0 and OUT_HP_DT &lt; #{endTime}+0 
		group by OUT_HOS_ID) t
   </select>
</mapper>
