<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.dynamic.mapper.familydoctor.DataFamilyDoctorMapper">
    <!-- 健康管理服务包签约数(收费) -->
    <select id="signingIsMoneyNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main WHERE lastflag
        ='1' AND familynew='1' and FAMILYNEW ='1'
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_main ps
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON ps.CODE=pm.CODE AND ps.stateid = '0' AND pm.stateid = '1'
        WHERE ps.LASTFLAG = '1' AND ps.FAMILYNEW = '1' and ps.CREATEDTIME &gt;= #{startTime}+0  and ps.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 健康管理服务包签约数(免费) -->
    <select id="signingNotMoneyNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main WHERE lastflag
        ='1' AND familynew='1' and FAMILYNEW is null  
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_main ps
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON ps.CODE=pm.CODE AND ps.stateid = '0' AND pm.stateid = '1'
        WHERE ps.LASTFLAG = '1' AND FAMILYNEW is null  and ps.CREATEDTIME &gt;= #{startTime}+0  and ps.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!--应签约居民数 -->
    <select id="singingResidentNum" resultType="long">
        SELECT COUNT(1) FROM phis_chss.v_fha_person_main 
        where status='1'
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and MANAGEDCENTERCODE = #{unitId}
        AND stateid = '1'
    </select>
    <!-- 签约个性化服务数 -->
    <select id="singingServeNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main m, phis_chss.v_fha_person_sign_main_org r
		  WHERE m.guide3 is not null and r.SIGNCODE = '1' and r.code = m.code and m.LASTFLAG = '1' and m.STATEID = '0' and m.STATUS = '1'
		  and m.SIGNPERIODFROM &gt;= #{startTime}+0
		  and m.SIGNPERIODFROM &lt; #{endTime}+0
		  and r.MANAGEDCENTERCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_main ps
        LEFT JOIN phis_chss.v_fha_person_sign_main_org  pg ON ps.CODE=pg.CODE AND ps.stateid = '0' AND pg.stateid = '1'
        LEFT JOIN phis_chss.v_fha_person_main pm ON ps.CODE=pm.CODE AND ps.stateid = '0' AND pm.stateid = '1'
        WHERE ps.guide3 is not null and pg.SIGNCODE = '1' and ps.LASTFLAG = '1' and ps.STATEID = '0' and ps.STATUS = '1'
        and ps.SIGNPERIODFROM &gt;= #{startTime}+0  and ps.SIGNPERIODFROM &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 签约总数 -->
    <select id="singingTotal" resultType="long">
<!--  		 SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main_org WHERE signcode='1'
  		and SIGNFROM &gt;= #{startTime}+0
  		and SIGNFROM &lt; #{endTime}+0
  		and MANAGEDCENTERCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_main_org  pg
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pg.CODE=pm.CODE AND pg.stateid = '1' AND pm.stateid = '1'
        WHERE pg.signcode='1' and pg.SIGNFROM &gt;= #{startTime}+0  and pg.SIGNFROM &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>

    <!-- 签约居民中心就诊人次数 -->
    <select id="singingAgencyOPDpersonNum" resultType="String">
        SELECT o.IDNUMBER idCard 
        FROM phis_chss.v_fha_person_sign_main_org o 
        where o.signcode ='1'
        and o.CREATEDTIME &gt;= #{startTime}+0
        and o.CREATEDTIME &lt; #{endTime}+0
        and o.MANAGEDCENTERCODE = #{unitId}
        group by o.IDNUMBER
    </select>

    <select id="registerOPD" resultType="long">
	    select count(1) from phis_webhis.v_opr_register r
	    where r.REGDATE &gt;= #{startTime}+0
	    and r.REGDATE &lt; #{endTime}+0
	    and r.orgcode =#{unitId}	
	    and r.idcardno in
	    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
	        #{item,jdbcType=VARCHAR}
	    </foreach>	       
	</select>
	
    <!-- 签约居民就诊总次数 -->
    <select id="singingAgencyOPDTotal" resultType="String">
        SELECT o.IDNUMBER idCard FROM phis_chss.v_fha_person_sign_main_org o
        where o.signcode ='1'
        and o.CREATEDTIME &gt;= #{startTime}+0
        and o.CREATEDTIME &lt; #{endTime}+0
        and o.MANAGEDCENTERCODE = #{unitId}
    </select>
    <select id="registerOPDtotal" resultType="String">
        select r.idcardno idCard from phis_webhis.v_Opr_Register r 
        where  r.REGDATE &gt;= #{startTime}+0
        and r.REGDATE &lt; #{endTime}+0
        and r.orgcode = #{unitId}
        and r.idcardno in
        <foreach collection="idCard" item="item" index="index" open="(" separator="," close=")">
	        #{item,jdbcType=VARCHAR}
	    </foreach>
    </select>

    <select id="registerTotal" resultType="long">
        select count(1) from phis_webhis.v_opr_register r
        where r.REGDATE &gt;= #{startTime}+0
        and r.REGDATE &lt; #{endTime}+0
        and r.idcardno in
        <foreach collection="idCard" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="hospitalOPDTotal" resultType="long">
    	select count(1) from RegisterRecord 
    	where REC_DT &gt;= #{startTime}+0 
    	and REC_DT &lt; #{endTime}+0
    	and cardno in
    	<foreach collection="idCard" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>
    
    <!-- 签约居民家庭医生就诊总数 -->
    <select id="singingDoctorOPDtotal" resultType="String">
        select m.CENTERDOCTORNAME name from
        phis_chss.v_fha_person_sign_main_org o left join phis_chss.v_fha_person_sign_main m on o.CODE=m.CODE
        where m.CENTERDOCTORNAME is not null
        and m.CREATEDTIME &gt;= #{startTime}+0
        and m.CREATEDTIME &lt; #{endTime}+0
        and m.CREATEDUNITCODE = #{unitId}
    </select>
    
    <select id="docnameOPDnum" resultType="long">
        select count(1) from phis_webhis.v_Opr_Register r 
        where r.REGDATE &gt;= #{startTime}+0
        and r.REGDATE &lt; #{endTime}+0
        and r.ORGCODE =#{unitId}
        and r.docname in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>
    
    <!-- 慢病签约人员管理数 -->
    <select id="singingPersonManageNum" resultType="long">
<!--        select count(1) from phis_chss.v_fha_person_sign_main_org o
        left join phis_chss.v_fha_person_main m on o.CODE = m.CODE
        where o.SIGNCODE = '1'
        and m.LINKB is not null 
        and o.CREATEDTIME &gt;= #{startTime}+0
        and o.CREATEDTIME &lt; #{endTime}+0
        and o.MANAGEDCENTERCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_main_org  pg
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pg.CODE=pm.CODE AND pg.stateid = '1' AND pm.stateid = '1'
        WHERE pg.signcode='1' and pm.LINKB is not null   and pg.CREATEDTIME &gt;= #{startTime}+0  and pg.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 慢病签约人员随访数 ps:修改后的数据和之前的相差太多-->
    <select id="singingPersonFollowNum" resultType="long">
<!--        select count(1) from phis_chss.v_fha_person_sign_main_org o
        left join phis_chss.v_fha_person_main m on o.CODE = m.CODE
        left join phis_chss.v_fha_person_sign_visit v on o.CODE = v.CODE
        where o.SIGNCODE = '1' 
        and m.LINKB is not null
        and o.CREATEDTIME &gt;= #{startTime}+0
        and o.CREATEDTIME &lt; #{endTime}+0
        and o.MANAGEDCENTERCODE = #{unitId}-->

        select count(1) from phis_chss.v_fha_person_sign_main_org pg
        left join phis_chss.v_fha_person_main pm on pg.CODE = pm.CODE AND pg.stateid = '1' AND pm.stateid = '1'
        left join phis_chss.v_fha_person_sign_visit pv on pg.CODE = pv.CODE AND pg.stateid = '1' AND pv.stateid = '1'
        where pg.SIGNCODE = '1' and pm.LINKB is not null  and pg.CREATEDTIME &gt;= #{startTime}+0  and pg.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 上门服务人次数 -->
    <select id="doorServicePersonNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_visit
        WHERE servercode='3'
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit pv
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pv.CODE=pm.CODE AND pv.stateid = '1' AND pm.stateid = '1'
        WHERE pv.servercode='3' and pv.CREATEDTIME &gt;= #{startTime}+0  and pv.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 营养指导人次数 -->
    <select id="nutritionGuidePersonNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_visit
        WHERE guide2 IS NOT NULL
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit pv
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pv.CODE=pm.CODE AND pv.stateid = '1' AND pm.stateid = '1'
        WHERE pv.guide2 IS NOT NULL and pv.CREATEDTIME &gt;= #{startTime}+0  and pv.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 康复指导人次数 -->
    <select id="recoveryGuidePersonNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_visit
        WHERE guide5 IS NOT NULL
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit pv
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pv.CODE=pm.CODE AND pv.stateid = '1' AND pm.stateid = '1'
        WHERE pv.guide5 IS NOT NULL and pv.CREATEDTIME &gt;= #{startTime}+0  and pv.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 用药指导人次数 -->
    <select id="medicationGuidePersonNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_visit
        WHERE guide1 IS NOT NULL
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit pv
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pv.CODE=pm.CODE AND pv.stateid = '1' AND pm.stateid = '1'
        WHERE pv.guide1 IS NOT NULL and pv.CREATEDTIME &gt;= #{startTime}+0  and pv.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 慢病长处方服务数  ps:无ccffw-->
    <select id="prescriptionServicNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_visit
        WHERE ccffw IS NOT NULL
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit_temp pv
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pv.CODE=pm.CODE AND pv.stateid = '1' AND pm.stateid = '1'
        WHERE pv.ccffw IS NOT NULL and pv.CREATEDTIME &gt;= #{startTime}+0  and pv.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 签约居民体检人数 -->
    <select id="singingInspectNum" resultType="long">
        SELECT COUNT(1) FROM phis_chss.v_fha_person_main 
        WHERE linkcsum IS NOT NULL
        AND stateid = '1'
        AND CREATEDTIME &gt;= #{startTime}+0
        AND CREATEDTIME &lt; #{endTime}+0
        AND MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 心脑血管高危人群筛查人数 -->
    <select id="cardiovascularSiftNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_visit_temp
        WHERE znxgjbsc IS NOT NULL
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit_temp  pt
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pt.CODE=pm.CODE AND pt.stateid = '1' AND pm.stateid = '1'
        WHERE pt.znxgjbsc IS NOT NULL and pt.CREATEDTIME &gt;= #{startTime}+0  and pt.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 肿瘤高危人群筛查数 -->
    <select id="tumourSiftNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_visit_temp
        WHERE zlsc IS NOT NULL
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit_temp  pt
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pt.CODE=pm.CODE AND pt.stateid = '1' AND pm.stateid = '1'
        WHERE pt.zlsc IS NOT NULL and pt.CREATEDTIME &gt;= #{startTime}+0  and pt.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 骨质疏松高危人群筛查数 -->
    <select id="osteoporosisSiftNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_visit_temp
        WHERE gzsc IS NOT NULL
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit_temp  pt
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pt.CODE=pm.CODE AND pt.stateid = '1' AND pm.stateid = '1'
        WHERE pt.gzsc IS NOT NULL and pt.CREATEDTIME &gt;= #{startTime}+0  and pt.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- COPD高危人群筛查数 -->
    <select id="copdSiftNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_visit_temp
        WHERE mzfsc IS NOT NULL
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit_temp  pt
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pt.CODE=pm.CODE AND pt.stateid = '1' AND pm.stateid = '1'
        WHERE pt.mzfsc IS NOT NULL and pt.CREATEDTIME &gt;= #{startTime}+0  and pt.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 儿童哮喘筛查数 -->
    <select id="childhoodSsthmaSiftNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_visit_temp
        WHERE etxc IS NOT NULL
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit_temp  pt
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pt.CODE=pm.CODE AND pt.stateid = '1' AND pm.stateid = '1'
        WHERE pt.etxc IS NOT NULL and pt.CREATEDTIME &gt;= #{startTime}+0  and pt.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 健康自理检测评估数 -->
    <select id="healthyselfcareSssessNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_visit_temp t
        WHERE t.JKZDPG IS NOT NULL
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit_temp  pt
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pt.CODE=pm.CODE AND pt.stateid = '1' AND pm.stateid = '1'
        WHERE pt.JKZDPG IS NOT NULL and pt.CREATEDTIME &gt;= #{startTime}+0  and pt.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- CDSS心脑血管风险评估数 -->
    <select id="cdssSssessNum" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_visit_temp
        WHERE cdss IS NOT NULL
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit_temp  pt
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pt.CODE=pm.CODE AND pt.stateid = '1' AND pm.stateid = '1'
        WHERE pt.cdss IS NOT NULL and pt.CREATEDTIME &gt;= #{startTime}+0  and pt.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!--个性化健康信息精准推送数 -->
    <select id="personalizedHealthPushNum" resultType="long">
<!--        -
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->

        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_visit_temp  pt
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON pt.CODE=pm.CODE AND pt.stateid = '1' AND pm.stateid = '1'
        WHERE pt.wx IS NOT NULL and pt.CREATEDTIME &gt;= #{startTime}+0  and pt.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 家庭医生签约服务协议表总数 -->
    <select id="singingServiceTotal" resultType="long">
<!--        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main
        where CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}-->
        SELECT COUNT(1)
        FROM phis_chss.v_fha_person_sign_main  psm
        LEFT JOIN phis_chss.v_fha_person_main pm
        ON psm.CODE=pm.CODE AND psm.stateid = '1' AND pm.stateid = '1'
        WHERE psm.CREATEDTIME &gt;= #{startTime}+0  and psm.CREATEDTIME &lt; #{endTime}+0 and pm.MANAGEDCENTERCODE = #{unitId}
    </select>
    <!-- 残疾人签约率 -->
    <select id="disabledSigningRate" resultType="long">
        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main 
        WHERE signmemtype like '%B%'
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}
    </select>
    <!-- 高血压患者签约率 -->
    <select id="hypertensionSigningRate" resultType="long">
        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main 
        WHERE signmemtype like '%5%'
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}
    </select>
    <!-- 糖尿病患者签约率 -->
    <select id="diabetesSigningRate" resultType="long">
        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main 
        WHERE signmemtype like '%6%'
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}
    </select>
    <!-- 孕产妇签约率 -->
    <select id="maternalSigningRate" resultType="long">
        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main 
        WHERE signmemtype like '%E%'
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}
    </select>
    <!-- 0-6周岁儿童签约率 -->
    <select id="childrenSigningRate" resultType="long">
        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main 
        WHERE signmemtype like '%F%'
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}
    </select>
    <!-- 65周岁及以上老年人签约率 -->
    <select id="agedSigningRate" resultType="long">
        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main 
        WHERE signmemtype like '%7%'
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}
    </select>
    <!-- 严重肺结核患者签约率 -->
    <select id="tuberculosisSigningRate" resultType="long">
        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main 
        WHERE signmemtype like '%8%'
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}
    </select>
    <!-- 重精神障碍患者签约率 -->
    <select id="mentalDisorderSigningRate" resultType="long">
        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main 
        WHERE signmemtype like '%D%'
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}
    </select>
    <!-- 疾病筛查高危人员签约率 -->
    <select id="diseaseSiftSigningRate" resultType="long">
        select count(1) from phis_chss.v_fha_person_sign_main m
        left join phis_chss.v_fha_pre_scale_assess a on m.CODE=a.CODE
        where a.RISKDESC is not null
        and m.CREATEDTIME &gt;= #{startTime}+0
        and m.CREATEDTIME &lt; #{endTime}+0
        and m.CREATEDUNITCODE = #{unitId}
    </select>
     <!-- 离休干部签约率 -->
    <select id="retirementCadreRate" resultType="long">
        SELECT COUNT(1) FROM phis_chss.v_fha_person_sign_main 
        WHERE signmemtype like '%G%'
        and CREATEDTIME &gt;= #{startTime}+0
        and CREATEDTIME &lt; #{endTime}+0
        and CREATEDUNITCODE = #{unitId}
    </select>
    
</mapper>