<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.paladin.qos.dynamic.mapper.yiyuan.HospitalPerformanceAppraisalMapper">

   <!-- 门诊出院-门诊人次-->
    <select id="getOutpatientVisitsTotalNum" resultType="long">
        select count(1) from RegisterRecord
        where OP_EM_MARK = '1'  AND  back_mark  = 0  AND  visit_date >= #{startTime}   AND   visit_date  <![CDATA[<]]> #{endTime}
    </select>

    <!-- 转诊人次-->
    <select id="getReferralsTotalNum" resultType="long">
        SELECT sum(total)
        FROM
        (SELECT count(1) AS total
        FROM FirstPageMedicalRecord
        WHERE DISCHAWAYCODE  in ('2','3')   AND  OUT_HP_DT >= #{startTime}  AND   OUT_HP_DT  <![CDATA[<]]> #{endTime}
        UNION ALL
        SELECT count(1) AS total
        FROM ED_CMEDICAL_HOME_PAGE_RECORD
        WHERE DISCHAWAYCODE  in ('2','3')  AND  OUT_HP_DT >= #{startTime}  AND   OUT_HP_DT  <![CDATA[<]]> #{endTime} )
    </select>

    <!-- 手术患者数-->
    <select id="getOperationsTotalNum" resultType="long">
        SELECT sum(total)
        FROM
        (SELECT count(DISTINCT(a.HP_S_NO)) AS total
        FROM outhospitalrecord a
        LEFT JOIN firstpagemedicalrecord b
        ON a.HP_S_NO = b.HP_S_NO
        WHERE a.OHREC_DREC in ('1','3')
        AND b.IF_OPREA = '1'
        AND a.OUT_HP_DT >= #{startTime}
        AND a.OUT_HP_DT <![CDATA[<]]> #{endTime}
        UNION ALL
        SELECT count(DISTINCT(a.HP_S_NO)) AS total
        FROM outhospitalrecord a
        LEFT JOIN ed_cmedical_home_page_record c
        ON a.HP_S_NO = c.HP_S_NO
        WHERE a.OHREC_DREC in ('1','3')
        AND c.IF_OPREA = '1'
        AND a.OUT_HP_DT >= #{startTime}
        AND a.OUT_HP_DT <![CDATA[<]]> #{endTime})
    </select>

    <!-- 三四级手术-->
    <select id="get34OperationsTotalNum" resultType="long">
        SELECT sum(total)
        FROM
        (SELECT count(1) AS total
        FROM outhospitalrecord a
        LEFT JOIN firstpagemedicalrecord d
        ON d.HP_S_NO = a.HP_S_NO
        LEFT JOIN MR_OperationRecord b
        ON d.HP_S_NO = b.HP_S_NO
        WHERE a.OHREC_DREC in ('1','3')  and  d.IF_OPREA = '1'
        AND b.OPER_CODE in (SELECT TT.OPERATION_CODE  from JS_OPERATION_MENU tt  where tt.OPERATION_LEVEL='三级' or tt.OPERATION_LEVEL='四级' )
        AND a.OUT_HP_DT >= #{startTime}
        AND a.OUT_HP_DT <![CDATA[<]]> #{endTime}
        UNION ALL
        SELECT count(1) AS total
        FROM outhospitalrecord a
        LEFT JOIN ed_cmedical_home_page_record e
        ON a.HP_S_NO = e.HP_S_NO
        LEFT JOIN ED_CMED_HOME_PAGE_OPE_RECORD c
        ON e.HP_S_NO = c.HP_S_NO
        WHERE a.OHREC_DREC in ('1','3')  and e.IF_OPREA = '1'
        AND c.OPER_CODE in (SELECT TT.OPERATION_CODE  from JS_OPERATION_MENU tt  where tt.OPERATION_LEVEL='三级' or tt.OPERATION_LEVEL='四级' )
        AND a.OUT_HP_DT >= #{startTime}
        AND a.OUT_HP_DT <![CDATA[<]]> #{endTime})
    </select>


    <!-- Ⅰ类切口手术  手术台数(东软)-->
    <select id="getOperationsTablesTotalNum" resultType="long">
        SELECT sum(total)
        FROM
        (SELECT count(1) AS total
        FROM outhospitalrecord a
        LEFT JOIN MR_OperationRecord b
        ON a.HP_S_NO = b.HP_S_NO
        WHERE a.OHREC_DREC in ('1','3')
        AND b.WOUND_GRADE = '1'
        AND a.OUT_HP_DT >= #{startTime}
        AND a.OUT_HP_DT <![CDATA[<]]> #{endTime}
        UNION ALL
        SELECT count(1) AS total
        FROM outhospitalrecord a
        LEFT JOIN ED_CMED_HOME_PAGE_OPE_RECORD c
        ON a.HP_S_NO = c.HP_S_NO
        WHERE a.OHREC_DREC in ('1','3')
        AND c.WOUND_GRADE = '1'
        AND a.OUT_HP_DT >= #{startTime}
        AND a.OUT_HP_DT <![CDATA[<]]> #{endTime})
    </select>


    <!-- Ⅰ类切口手术  感染人次数)-->
    <select id="getOperationsInfectionTotalNum" resultType="long">
        SELECT sum(total)
        FROM
        (SELECT count(1) AS total
        FROM MR_OperationRecord
        WHERE WOUND_GRADE = '1'
        AND WOUND_TYPE = '3'  AND RCD_DT >= #{startTime}  AND RCD_DT <![CDATA[<]]> #{endTime}
        UNION ALL
        SELECT count(1) AS total
        FROM ED_CMED_HOME_PAGE_OPE_RECORD
        WHERE WOUND_GRADE = '1'
        AND WOUND_TYPE = '3'  AND RCD_DT >= #{startTime}  AND RCD_DT <![CDATA[<]]> #{endTime} )
    </select>

    <!-- 临床路径管理-入组数-->
    <select id="getEnrollmentTotalNum" resultType="long">
        SELECT sum(total)
        FROM
        (SELECT count(1) AS total
        FROM FirstPageMedicalRecord
        WHERE CPW_MANA_CODE in ('1','3')  AND OUT_HP_DT >= #{startTime}  AND OUT_HP_DT <![CDATA[<]]> #{endTime}
        UNION ALL
        SELECT count(1) AS total
        FROM ED_CMEDICAL_HOME_PAGE_RECORD
        WHERE CPW_MANA_CODE in ('1','3')  AND OUT_HP_DT >= #{startTime}  AND OUT_HP_DT <![CDATA[<]]> #{endTime} )
    </select>


    <!-- 中医科室中医处方占比-->
    <select id="getCMprescriptionsTotalNum" resultType="long">
        select sum(total) from
			(
			select count(1) as total from CM_Prescriptions a
			where a.OP_EM_HP_MARK = '1' and a.DPT_CODE like '%A50'
			   AND a.RX_DT >= #{startTime}
			   AND a.RX_DT <![CDATA[<]]> #{endTime}
			union all
			select count(1) as total from WM_Prescriptions b
			where b.OP_EM_HP_MARK = '1' and b.DPT_CODE like '%A50'
			   AND b.RX_DT >= #{startTime}
			   AND b.RX_DT <![CDATA[<]]> #{endTime}
			)
    </select>

    <select id="getCMprescriptionsEventNum" resultType="long">
        select sum(total) from
        (
        select count(1) as total from CM_Prescriptions a
	    where a.OP_EM_HP_MARK = '1' and a.DPT_CODE like '%A50'
			 AND a.RX_DT >= #{startTime}
             AND a.RX_DT <![CDATA[<]]> #{endTime}
        union all
        select count(1) as total from WM_Prescriptions b
        where b.OP_EM_HP_MARK = '1' and b.RX_NOTE = '2' and b.DPT_CODE like '%A50'
        AND b.RX_DT >= #{startTime}
        AND b.RX_DT <![CDATA[<]]> #{endTime}
        )
    </select>

    <!-- 出院者手术例数-->
    <select id="getOperationsPeoplesTotalNum" resultType="long">
        SELECT sum(total)
        FROM
        (SELECT  count(1) AS total
        FROM outhospitalrecord a
        LEFT JOIN firstpagemedicalrecord b
        ON a.HP_S_NO = b.HP_S_NO
        LEFT JOIN MR_OperationRecord d
        ON b.HP_S_NO = d.HP_S_NO
        WHERE a.OHREC_DREC in ('1','3')
        AND b.IF_OPREA = '1'
        AND a.OUT_HP_DT  >= #{startTime} AND  a.OUT_HP_DT  <![CDATA[<]]> #{endTime}
        UNION ALL
        SELECT  count(1) AS total
        FROM outhospitalrecord a
        LEFT JOIN ed_cmedical_home_page_record c
        ON a.HP_S_NO = c.HP_S_NO
        LEFT JOIN ED_CMED_HOME_PAGE_OPE_RECORD e
        ON c.HP_S_NO = e.HP_S_NO
        WHERE a.OHREC_DREC in ('1','3')
        AND c.IF_OPREA = '1'
        AND a.OUT_HP_DT >= #{startTime}  AND  a.OUT_HP_DT  <![CDATA[<]]> #{endTime})
    </select>

    <!-- 出院者占用总床日-->
    <select id="getOutHospitalBedDayTotalNum" resultType="long">
        SELECT  coalesce(sum(L_H_BR),0) from IN_WORKLOAD
        where RCD_DT  >= ADD_MONTHS(#{startTime} , 1)
        and RCD_DT <![CDATA[<]]> ADD_MONTHS(#{endTime}, 1)
    </select>

</mapper>
