<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.paladin.qos.dynamic.mapper.yiyuan.KeyOperationHipAndKneeReplacementMapper">

	<select id="getTotalNum" parameterType="Map" resultType="Long">
		select
		count(*) from outhospitalrecord a
		left join
		firstpagemedicalrecord b
		on
		a.HP_S_NO = b.HP_S_NO
		left join
		ed_cmedical_home_page_record c
		on
		a.HP_S_NO = c.HP_S_NO
		<where>
			<!-- a.OPERATION_CODE in (select major_code from classify_code_operation 
				where major_code like '51.51%' or major_code like '51.52%' or major_code 
				like '51.53%' or major_code like '51.54%' or major_code like '51.55%') and -->
			a.OPERATION_CODE in ('51.5100',
			'51.5102',
			'51.5101')
			and
			(b.AGE_YEAR <![CDATA[>=]]>18
			or c.AGE_YEAR <![CDATA[>=]]>18)
				and a.OUT_HP_DT <![CDATA[>=]]>
				#{startTime}
				and a.OUT_HP_DT <![CDATA[<]]>
				#{endTime}
				and a.ORGAN_CODE = #{unitId}
		</where>
	</select>

	<select id="getEventNum" resultType="long">
		select count(*) from outhospitalrecord a
		left join
		firstpagemedicalrecord b
		on a.HP_S_NO = b.HP_S_NO
		left join
		ed_cmedical_home_page_record c
		on a.HP_S_NO = c.HP_S_NO

		<where>
			a.OHREC_DREC = '2' and
			a.OPERATION_CODE in ('51.5100',
			'51.5102',
			'51.5101')
			and (b.AGE_YEAR <![CDATA[>=]]>18
			or c.AGE_YEAR <![CDATA[>=]]>18)
				and a.OUT_HP_DT <![CDATA[>=]]>
				#{startTime}
				and a.OUT_HP_DT <![CDATA[<]]>
				#{endTime}
				and a.ORGAN_CODE = #{unitId}
		</where>
	</select>

</mapper>
