<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.paladin.qos.dynamic.mapper.yiyuan.NewBabyMortalityNonOperationDataMapper">

	<select id="getTotalNum" parameterType="Map" resultType="Long">
		select
		count(*) from outhospitalrecord a
		left join
		firstpagemedicalrecord b
		on
		a.HP_S_NO = b.HP_S_NO
		left join
		ed_cmedical_home_page_record c
		on
		a.HP_S_NO = c.HP_S_NO
		<where>
			(a.IS_OPERATION = '0' or a.IS_OPERATION is NULL)
            and a.OHREC_DREC = '1'
            and (b.AGE_DAY is not NULL or c.AGE_DAY is not NULL)
				and a.OUT_HP_DT <![CDATA[>=]]>
				#{startTime}
				and a.OUT_HP_DT <![CDATA[<]]>
				#{endTime}
				and a.ORGAN_CODE = #{unitId}
		</where>
	</select>

	<select id="getEventNum" resultType="long">
		select
		count(*) from outhospitalrecord a
		left join
		firstpagemedicalrecord b
		on
		a.HP_S_NO = b.HP_S_NO
		left join
		ed_cmedical_home_page_record c
		on
		a.HP_S_NO = c.HP_S_NO
		<where>
			 (a.IS_OPERATION = '0' or a.IS_OPERATION is NULL)
             and a.OHREC_DREC = '2'
             and (b.AGE_DAY is not NULL or c.AGE_DAY is not NULL)
				and a.OUT_HP_DT <![CDATA[>=]]>
				#{startTime}
				and a.OUT_HP_DT <![CDATA[<]]>
				#{endTime}
				and a.ORGAN_CODE = #{unitId}
		</where>
	</select>

</mapper>
