<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.dynamic.mapper.yiyuan.RehospitalizationAnalysisMapper">

	<select id="getTotalNum" parameterType="Map" resultType="Long">
		select count(*) from outhospitalrecord
		where OHREC_DREC = '1'
		and OUT_HP_DT <![CDATA[>=]]> #{startTime}
		and OUT_HP_DT <![CDATA[<]]> #{endTime}
		and ORGAN_CODE  =  #{unitId}
	</select>
	
	<!-- <select id="getEventNum" parameterType="Map" resultType="Long">
	SELECT count(*) FROM outhospitalrecord a
	where a.OHREC_DREC = '1'
	and a.OUT_HP_DT <![CDATA[>=]]> #{startTime}
	and a.OUT_HP_DT <![CDATA[<]]> #{endTime}
	and ORGAN_CODE  =  #{unitId}
	AND EXISTS (
	SELECT 1 FROM outhospitalrecord b
	WHERE
	b.CARDNO = a.CARDNO
	AND b.OUT_HOS_ID <![CDATA[!=]]> a.OUT_HOS_ID
	and a.OUT_HP_DT <![CDATA[>=]]> date_add(b.IN_HP_DT, INTERVAL - 31 DAY) 
	and a.OUT_HP_DT <![CDATA[<]]> DATE(b.IN_HP_DT)
	)
	</select> -->
	
	<select id="getEventNum" parameterType="Map" resultType="Long">
	SELECT count(*) FROM outhospitalrecord a
  where a.OHREC_DREC = '1'
   and a.OUT_HP_DT <![CDATA[>=]]> #{startTime}
    and a.OUT_HP_DT <![CDATA[<]]> #{endTime}
  and ORGAN_CODE  =  #{unitId}
  AND EXISTS (
  SELECT 1 FROM outhospitalrecord b
  WHERE
  b.CARDNO = a.CARDNO
  AND b.OUT_HOS_ID <![CDATA[!=]]> a.OUT_HOS_ID
  and a.OUT_HP_DT <![CDATA[>=]]> (b.IN_HP_DT-31) 
  and a.OUT_HP_DT <![CDATA[<]]> b.IN_HP_DT
  )

	</select>
</mapper>  
