<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.dynamic.mapper.yiyuan.RehospitalzationAnalysisMalignantSurgeryMapper">

	<select id="getTotalNum" parameterType="Map" resultType="Long">
		  select count(*) from outhospitalrecord a
		  <where>
				<!-- OHREC_DREC = '1'
	            and a.IHD_DIS_CODE in (select major_code from classify_code_disease where major_code='Z51.101') -->
	            OHREC_DREC = '1'
	            and a.IHD_DIS_CODE ='Z51.101'
					and OUT_HP_DT <![CDATA[>=]]> #{startTime}
					and OUT_HP_DT <![CDATA[<]]> #{endTime}
					and ORGAN_CODE  =  #{unitId}
		  </where>
	</select>
	
	<select id="getEventNum" parameterType="Map" resultType="Long">
	SELECT count(*) FROM outhospitalrecord a
	where a.OHREC_DREC = '1'
	and a.IHD_DIS_CODE ='Z51.101'
			and a.OUT_HP_DT <![CDATA[>=]]> #{startTime}
			and a.OUT_HP_DT <![CDATA[<]]> #{endTime}
			and ORGAN_CODE  =  #{unitId}
	AND EXISTS (
	SELECT * FROM outhospitalrecord b
	WHERE
	b.CARDNO = a.CARDNO
	AND b.OUT_HP_DT <![CDATA[!=]]> a.OUT_HP_DT
	and a.OUT_HP_DT <![CDATA[>=]]>(b.IN_HP_DT-31) 
	and a.OUT_HP_DT <![CDATA[<]]> b.IN_HP_DT
	
	)
	</select>
</mapper>
